@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');
@font-face {
    font-family: 'Kunstler Script';
    src: url('KunstlerScript.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Material Symbols Outlined';
    src: url('Material Symbols Outlined.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
html{
    font-size: 30px;
}
*{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

h1{
    font-size: 2rem;
    font-family: 'Kunstler Script' , 'dotum';
}
p{
    white-space: pre-line; 
    font-size: 1rem; 
    line-height: 160%;
}
.ic-check{font-family: 'Material Symbols Outlined';
            font-size: 3rem; color: aqua;
}
.f-1{
    width: 60%; margin: 100px auto;
}
.self{
    display: flex;
    align-items: start;
}
.ic-self{font-family: 'Material Symbols Outlined';}
.self > span{
    border: 1px solid red;
}